<html>
    <head>
        <link rel="stylesheet" href="./index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Damion&family=Karla:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="login">
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1 class="title">
            <legend>Student Exam Performance <br/>Predictor</legend>
        </h1>
        <div class="container">
        <div class="first-container">
            <div class="first-div">
                <select class="gender" name="gender" placeholder="Enter you Gender" required>
                    <option class="placeholder" selected disabled value="">Select your Gender</option>
                    <option value="male">
                        Male
                    </option>
                    <option value="female">
                        Female
                    </option>
                </select>
                <select class="ethnicity" name="ethnicity" placeholder="Enter you ethnicity" required>
                    <option class="placeholder" selected disabled value="">Select Ethnicity</option>
                    <option value="group A">
                        Group A
                    </option>
                    <option value="group B">
                        Group B
                    </option>
                    <option value="group C">
                        Group C
                    </option>
                    <option value="group D">
                        Group D
                    </option>
                    <option value="group E">
                        Group E
                    </option>
                </select>
            </div>
            <div class="second-div">
                <select class="parent-education" name="parental_level_of_education"
                    placeholder="Enter you Parent Education" required>
                    <option class="placeholder" selected disabled value="">Select Parent Education</option>
                    <option value="associate's degree">
                        associate's degree
                    </option>
                    <option value="bachelor's degree">
                        bachelor's degree
                    </option>
                    <option value="high school">
                        high school
                    </option>
                    <option value="master's degree">
                        master's degree
                    </option>
                    <option value="some college">
                        some college
                    </option>
                    <option value="some high school">
                        some high school
                    </option>
                </select>
                <select class="lunch" name="lunch" placeholder="Enter you Lunch" required>
                    <option class="placeholder" selected disabled value="">Select Lunch Type</option>
                    <option value="free/reduced">
                        free/reduced
                    </option>
                    <option value="standard">
                        standard
                    </option>
                </select>
            </div>
            <div class="third-div">
                <select class="test-course" name="test_preparation_course" placeholder="Enter you Course"
                    required>
                    <option class="placeholder" selected disabled value="">Select Test preparation course</option>
                    <option value="none">
                        None
                    </option>
                    <option value="completed">
                        Completed
                    </option>
                </select>
                <input class="reading-score" type="text" name="reading_score" placeholder="Enter your Reading Score" pattern="[0-9]*" oninput="validateScore(this)" />

            </div> 
            <div class="fourth-div">
                <input class="writing-score" type="text" name="writing_score"
                    placeholder="Enter your Writing Score  "pattern="[0-9]*" oninput="validateScore(this)"/>
                <input class="predict-button" type="submit" value="Predict your Maths Score" required />
            </div>
            </div>
            <div class="second-container">
                <p>
                    THE  prediction is {{results}}
                </p>
            </div>
            </div>
        </form>
        </div>
        <script>
            function validateScore(input) {
               
                var enteredValue = parseInt(input.value, 10);
                if (enteredValue < 0) { 
                    input.value = "0";
                }
               
                if (enteredValue > 100) {
                    input.value = "100";
                }
            }
        </script> 
   
   <body>
</html>